@charsel "UTF-8";
body
{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(64,200,76,1) 0%, rgba(238,252,5,1) 65%, rgba(249,255,0,1) 100%, rgba(2,0,36,1) 100%);
    font-size: 12pt;
    font-family: arial;
}

a{
color: rgb(110, 110, 110);
text-decoration: none;
} 

h1{
    color: black;
}

.class{
    color: blue;
    text-shadow:
}

#id{
    color: black;
    text-shadow:none
    -2px 3px 0 #000
}
